img {
    display: block;
    width: 30%;
    height: 250px;;
    float: left;
    margin: 1.66%;
}

h1 {
    font-family: 'Josefin Slab', serif;
    color: rgb(5, 116, 116);
    margin-left: 1.66%;
    font-size: 40px;
    width: 30%;
    border-bottom: 4px solid #d8d7d7;
    padding-bottom: 20px;
}